* {
  box-sizing: border-box;
  margin: 0;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
body {
  font-family: "Work Sans", sans-serif;
}
input,
button {
  font-family: inherit;
}
.root {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
}
.sidebar {
  width: 109px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
  background-color: #131313;
}
.sidebar__button {
  border: 0;
  padding: 12px;
  background-color: transparent;
  font-size: 18px;
  color: white;
}
.main {
  flex-grow: 1;
}
.mobile-header {
  height: 243px;
  padding: 20px 26px;
  background-image: url("./images/fallback-img.png");
  background-position: center;
  background-size: cover;
  display: none;
}
.hidden-logo {
  width: 34px;
}
.home {
  padding: 26px 46px 107px;
  background-image: url("./images/fallback-img.png");
  background-position: center;
  background-size: cover;
  color: white;
}
.home__box {
  max-width: 386px;
  line-height: 1.2;
}
.home__title {
  font-family: "Anton", sans-serif;
  font-size: 80px;
  line-height: 120px;
  margin-bottom: 4px;
  font-weight: normal;
}
.home__info {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 20px;
  color: #747474;
}
.home__text {
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 24px;
  font-weight: 300;
}
.home__staff {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 49px;
  max-width: 278px;
}
.home__link {
  text-decoration: none;
  color: #ff4e4e;
  border: 2px solid #ff4e4e;
  padding: 10px 19px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border-radius: 40px;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
}
.movies-section {
  padding: 81px 49px;
  background-color: #232323;
  color: white;
}
.movies-section__title {
  margin-bottom: 40px;
}
.posters {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15.72px 18.5px;
}
.posters--top {
  margin-bottom: 81px;
}
.bottom {
  padding-left: 49px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #080808;
  color: white;
}
.bottom__box {
  width: 517px;
}
.bottom__title {
  font-size: 40px;
  line-height: 25.3px;
  font-weight: 800;
  margin-bottom: 22px;
}
.bottom__text {
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  margin-bottom: 46px;
}
.bottom__input {
  width: 250px;
  border: 0;
  background-color: transparent;
  border-bottom: 1px solid white;
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: white;
  margin-right: 18px;
}
.bottom__input:focus {
  outline: 0;
  border-block-color: lime;
}
.bottom__input::placeholder {
  color: white;
}
.bottom__button {
  font-size: 14px;
  line-height: 22px;
  padding: 4px 24px;
  border-radius: 33px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: 0.2s all linear;
}
.bottom__button:hover {
  background-color: white;
  color: black;
}
.bottom__image {
  width: 500px;
}
.hidden-menu {
  display: none;
  background-color: #131313;
  align-items: center;
  justify-content: space-between;
  padding: 6px 26px;
}

@media screen and (max-width: 1150px) {
  .bottom__title {
    font-size: 30px;
  }
  .bottom__text {
    font-size: 11px;
  }
  .bottom__input {
    width: 209px;
  }
  .bottom__image {
    width: 284px;
    height: 270px;
    object-fit: cover;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    width: 64px;
    padding: 19px 16px;
  }
  .home {
    padding: 23px 33px 50px;
  }
  .home__title {
    font-size: 50px;
    line-height: 74px;
    margin-bottom: 1px;
  }
  .home__info {
    font-size: 10px;
    line-height: 19px;
    margin-bottom: 14px;
  }
  .home__text {
    font-size: 11px;
    line-height: 22px;
    margin-bottom: 16px;
  }
  .home__staff {
    font-size: 10px;
    line-height: 19px;
    margin-bottom: 26px;
  }
  .home__link {
    font-size: 11px;
    line-height: 22px;
    padding: 11px 18px;
  }
  .movies-section {
    padding: 59px 33px;
  }
  .posters {
    grid-template-columns: repeat(4, 1fr);
  }
  .bottom {
    padding-left: 33px;
    justify-content: space-between;
  }
  .bottom__box {
    width: 65%;
    flex-shrink: 0;
  }
  .bottom__image {
    width: 32%;
  }
}
@media screen and (max-width: 620px) {
  .bottom {
    padding: 37px 27px 32px;
    background-image: url("./images/gif-cinema.png");
    background-position: center;
    background-size: cover;
  }
  .bottom__box {
    width: 100%;
  }
  .bottom__image {
    display: none;
  }
}
@media screen and (max-width: 460px) {
  .home {
    background-image: none;
    background-color: black;
    padding: 16px 26px 34px;
  }
  .home__title {
    font-size: 40px;
    line-height: 60px;
  }
  .home__info {
    font-size: 8px;
    line-height: 15px;
    margin-bottom: 9px;
  }
  .home__text {
    font-size: 10px;
    line-height: 18px;
    margin-bottom: 9px;
  }
  .home__staff {
    font-size: 8px;
    line-height: 15px;
    margin-bottom: 20px;
  }
  .home__link {
    font-size: 10px;
    line-height: 18px;
    padding: 7px 15px;
    border-width: 1px;
  }
  .movies-section {
    padding: 38px 26px;
  }
  .movies-section__title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 25px;
  }
  .posters {
    grid-template-columns: repeat(3, 1fr);
    gap: 6px 10px;
  }
  .posters--top {
    margin-bottom: 38px;
  }
  .bottom__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
  }
}
@media screen and (max-width: 375px) {
  .mobile-header {
    display: block;
  }
  .home {
    background-image: none;
  }
  .sidebar {
    display: none;
  }
  .hidden-menu {
    display: flex;
  }
}